/* public/css/main.css */

/* Configuración básica para conseguir un footer pegado abajo (sticky footer) */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
