<IfModule mod_rewrite.c>
    # Activar el motor de reescritura de URLs de Apache
    RewriteEngine On
    
    # Si el archivo o directorio solicitado existe fisicamente, no hacer nada (ej: css, js, imagenes)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # En caso contrario, redirigir todas las peticiones al index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
